= content_for( :heading ) { 'Blog' }

%nav.heading_links
	= link_to 'Add a Post', new_manage_blog_post_path, class: 'add'

%section#posts
	%table#posts
		%thead
			%tr
				%th Title
				%th Published
				%th Tags
				%th
			
		%tbody
			- for post in blog.posts.order( "created_at DESC" )
				%tr[ post ]
					%td= link_to post.title, path_for_post( post )
					%td= time_ago_in_words( post.created_at ) + " ago"
					%td= post.tag_names
					%td.links= link_to 'Edit', polymorphic_url( [ :manage, :blog, post ], action: :edit )