= content_for( :heading ) { 'Blog' }

%table#posts
	%thead
		%tr
			%th Title
			%th Published
			%th Tags
			%th
			
	%tbody
		- for post in @blog.posts
			%tr[ post ]
				%td= post.title
				%td= time_ago_in_words( post.created_at ) + " ago"
				%td= post.tag_names
				%td= link_to 'Edit', polymorphic_url( [ :manage, :blog, post ], action: :edit )