= content_for :javascripts do
	:coffeescript
		$ ->
			$( '#order_shipping_address_province_input' ).html( '#{ escape_javascript( render 'state_select', country: 'US', type: 'shipping' ) }' )

			$( '#order_shipping_address_country_input' ).change( () ->
				country_code = $( '#order_shipping_address_country_input option:selected' ).attr( 'value' );

				$.ajax({
					type: 	 "GET"
					dataType: "script"
					url: 		 '/update_state_select?type=shipping&country=' + country_code
				})
			)
			
			$( '#order_billing_address_province_input' ).html( '#{ escape_javascript( render 'state_select', country: 'US', type: 'billing' ) }' )

			$( '#order_billing_address_country_input' ).change( () ->
				country_code = $( '#order_billing_address_country_input option:selected' ).attr( 'value' );

				$.ajax({
					type: 	 "GET"
					dataType: "script"
					url: 		 '/update_state_select?type=billing&country=' + country_code
				})
			)

= semantic_form_for order, url: checkout_path do |f|
	= f.inputs do
		= f.input :email
		= f.input :subscribed, as: :boolean, label: "Send me news and special offers from #{ current_frame.name }"
	
	#shipping_address
		= f.inputs :first_name, :last_name, :address_1, :address_2, :country, :city, :province, :postal_code, for: [ :shipping_address, new_shipping_address ]
		
		= check_box_tag :shipping_is_billing, '1', !@billing_errors
		= label_tag 	  :shipping_is_billing, 'My billing address is the same as my shipping address.'
	
	#billing_address
		= f.inputs :first_name, :last_name, :address_1, :address_2, :country, :city, :province, :postal_code, for: [ :billing_address, new_billing_address ]
	
	= f.submit 'Pay with PayPal'