= content_for( :title )			 { "Your Order" }
= content_for( :body_class ) { "new_order" }

#order_wrapper
	%h1 Your Order

	- if order.line_items.any?
		= form_tag quantities_line_items_path do
			%table
				%thead
					%tr
						%th
						%th
						%th Quantity
						%th Total Price
				%tbody
					- for line_item in order.line_items
						%tr[ line_item ]
							%td.image= display_image( line_item.variant.good.images.first, '50x50#' )
							%td.name
								= line_item.name
								- unless line_item.options.blank?
									%br
									%span.options= line_item.options
								
							%td.quantity= text_field_tag "line_item[#{ line_item.id }]", line_item.quantity
							%td.unit_price= ( line_item.price * line_item.quantity ).format
				%tbody
					%tr
						%td{ colspan: 2 }
						%td= submit_tag 'Update'
						%td.total
							Total
							%br
							= order.unadjusted_total.format
				%tbody
					%tr
						%td{ colspan: 3 }
						%td= link_to 'Checkout', checkout_path, id: 'checkout'
	- else
		%p Your order is empty.