%footer
	#footer_signup
		.inner
			%h3#signup Get News & Discounts
		
			= form_tag '#', class: 'formtastic' do |f|
				%p#enter_email enter your email address
				= text_field_tag 'email'
				%br
				= submit_tag 'sign up!'
				= link_to 'Privacy policy', '#', id: 'privacy'
		
	#about_us_links
		%h3 about us
		%nav.footer
			%ul
				%li= link_to 'our story', '#'
				%li= link_to 'meet the owners', '#'
				%li= link_to 'press', '#'
				%li= link_to 'media', '#'
				%li= link_to 'faqs', '#'
				%li= link_to 'community', '#'
				%li= link_to 'contact us', '#'
			
	#products_links
		%h3 products
		%nav.footer
			%ul
				%li= link_to 'macaroons', '#'
				%li= link_to 'granola', '#'
				%li= link_to 'chocolate sauce', '#'
				%li= link_to 'super-fudge', '#'
				%li= link_to 'ingredients', '#'
				%li= link_to 'pies & cake', '#'
				%li= link_to 'almond milk', '#'
				%li= link_to 'apparel', '#'
				%li= link_to 'gift card', '#'
				%li= link_to 'monthly specials', '#'
			
	#educate_links
		%h3 educate
		%nav.footer
			%ul
				%li= link_to 'our ingredients', '#'
				%li= link_to 'non-GMO', '#'
				%li= link_to 'why raw?', '#'
				%li= link_to 'go gluten-free', '#'
				%li= link_to 'vegan', '#'
				%li= link_to 'recipes', '#'
			
	#sustainability_links
		%h3 sustainability
		%nav.footer
			%ul
				%li= link_to 'our packaging', '#'
				%li= link_to 'our practices', '#'
				%li= link_to '1% for the planet', '#'
				%li= link_to 'green tips', '#'