#header
	#header-wrapper
		#header-left
			= image_tag 'have_it_all.jpg', alt: 'Have It All', class: 'haveitall'
		#header-navigation
			= link_to 'Contact Us', '#'
			= link_to 'Store Locator', '#'
			= link_to 'Wholesale', '#'
			= link_to 'Newsletter', '#'