%header
	#header_wrapper.container
		#header_left
			= image_tag 'have_it_all.jpg', alt: 'Have It All', class: 'haveitall'

		%nav#header
			= link_to 'Contact Us', '#'
			= link_to 'Store Locator', '#'
			= link_to 'Wholesale', '#'
			= link_to 'Newsletter', '#'