!!!
%html
	%head
		%title Emmy's Organics
		= stylesheet_link_tag		 "application", "emmys"
		= javascript_include_tag "application", "visit"
		= yield :javascripts
		= csrf_meta_tags

	%body{ class: body_classes, id: body_ids }
		= render 'layouts/header'
				
		#wrapper
			= render 'layouts/top'
			= render 'layouts/main_navigation'
			
			#main= content_for?( :main ) ? yield( :main ) : yield
			
			= render 'layouts/footer'