!!!

%html
	%head
		%title= content_for?( :title ) ? content_for( :title ) : "Emmy's Organics"
		= stylesheet_link_tag		 "application", "emmys"
		= javascript_include_tag "application", "visit"
		= render 'google_analytics'
		= yield :javascripts
		= csrf_meta_tags
	
	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		= render 'layouts/header'
		
		#wrapper.container
			= render 'layouts/top'
			= content_for?( :main ) ? yield( :main ) : yield
			= render 'layouts/footer'