!!!

%html
	= render 'layouts/visit/head', frame_stylesheet: 'emmys', frame_js: 'emmys'
	
	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		= render 'layouts/header'
		
		#wrapper.container
			= render 'layouts/top'
			= content_for?( :main ) ? yield( :main ) : yield
			= render 'layouts/footer'