!!!
%html
	%head
		%title Emmy's Organics
		= stylesheet_link_tag		 "application", "emmys"
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body{ class: content_for( :body_class ) || 'general', id: content_for( :body_id ) || nil }
		= render 'layouts/header'
				
		#wrapper
			= render 'layouts/top'
			= render 'layouts/main_navigation'
			
			#main= content_for?( :main ) ? yield( :main ) : yield
			
			= render 'layouts/footer'