!!!

%html
	= render 'layouts/visit/head', frame_stylesheet: 'emmys'
	
	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		= render 'layouts/visit/header'
		
		#wrapper.container
			= render 'layouts/visit/top'
			= content_for?( :main ) ? yield( :main ) : yield
			= render 'layouts/visit/footer'