!!!
%html
	= render 'layouts/head'

	%body{ class: content_for( :body_classes ), id: content_for( :body_ids ) }
		= render 'layouts/header'
				
		#wrapper.container
			= render 'layouts/top'
			
			%nav#main
				= link_to 'about us', '#'
				= link_to 'products', '#'
				= link_to 'educate', '#'
				= link_to 'sustainability', '#'
			
			= content_for?( :main ) ? yield( :main ) : yield
			= render 'layouts/footer'