= content_for( :heading ) { 'Manage Orders' }

%table
	%thead
		%tr
			%th Order No.
			%th Payment Status
			%th Fulfillment Status
			%th Placed On
			%td
	%tbody
		- for order in orders
			%tr[ order ]
				%td= "##{ order.id_in_frame }"
				%td
					%span.status{ class: order.status }= order.status.titleize
				%td
					%span.status{ class: fulfillment_class( order ) }= order.fulfillment_status
				%td.placed= order.created_at
				%td.links
					= link_to 'Details', manage_order_path( order )