= content_for( :heading ) { 'Manage Orders' }

%table
	%thead
		%tr
			%th Order No.
			%th Status
			%th Placed On
			%td
	%tbody
		- for order in orders
			%tr[ order ]
				%td= "##{ order.id_in_frame }"
				%td.status= order.status.titleize
				%td.placed= order.created_at
				%td.links
					= link_to 'Details', manage_order_path( order )