= content_for( :heading ) { "Manage Order: ##{ order.id_in_frame }" }

#order
	= order.id_in_frame
	= order.status.titleize

#patron
	= "#{ patron.first_name } #{ patron.last_name }"
	= patron.email

#addresses
	#shipping
		%h2 Shipping Address
		= render shipping_address
	
	#billing
		%h2 Billing Address
		= render billing_address

#line_items
	%h2 Line Items
	
	%table
		%thead
			%tr
				%th Name
				%th Quantity
				%th Price
		%tbody
			- for item in line_items
				%tr[ item ]
					%td.name= item.name
					%td.quantity= item.quantity
					%td.price= item.price.format

#activity
	%h2 Activity
	
	%table
		%thead
			%tr
				%th Amount Received
				%th Time
				%th Payment Service
				%th Transaction Type
				%th Status
		%tbody
			- for transaction in order_transactions
				%tr[ transaction ]
					%td= transaction.amount.format
					%td= transaction.created_at
					%td= transaction.payment_service
					%td= transaction.action
					%td= transaction.success ? "Success" : "Failed"