= content_for( :heading ) { "Manage Order: ##{ order.id_in_frame }" }

%section#order
	#status_report
		#payment_status
			Payment Status:
			%br
			%span.status{ class: order.status }= order.status.titleize
		#fulfillment_status
			Fulfillment Status:
			%br
			%span.status{ class: fulfillment_class( order ) }= order.fulfillment_status

	#patron
		%h2 Patron
		- if patron
			= link_to "#{ patron.first_name } #{ patron.last_name }", manage_patron_path( patron )
			%br
			= patron.email
		- else
			%p This order's patron has been removed from the manifest.

	#shipping
		%h2 Shipping Address
		= render shipping_address

	#billing
		%h2 Billing Address
		= render billing_address

	#line_items
		%h2 Items & Adjustments
	
		%table
			%thead
				%tr
					%th Item
					%th Quantity
					%th Unit Price
					%th Total Price
			%tbody
				- for item in line_items
					%tr[ item ]
						%td 
							= item.name
							- unless item.options.blank?
								%br
								.options= item.options
						%td.quantity= item.quantity
						%td.unit_price= item.price.format
						%td.line_price= ( item.price * item.quantity ).format

				%tr
					%td{ colspan: 2 }
					%td Line Total
					%td= order.unadjusted_total.format

				- for adjustment in order.adjustments
					%tr.adjustment
						%td{ colspan: 2 }
						%td.message= adjustment.message
						%td.amount= adjustment.amount.format

				%tr
					%td{ colspan: 2 }
					%td Adjusted Total
					%td.total= order.adjusted_total.format

	#activity
		%h2 Activity
	
		%table
			%thead
				%tr
					%th Amount Received
					%th Time
					%th Payment Service
					%th Transaction Type
					%th Status
			%tbody
				- for transaction in order_transactions
					%tr[ transaction ]
						%td= transaction.amount.format
						%td= transaction.created_at
						%td= transaction.payment_service
						%td= transaction.action
						%td
							%span.status{ class: transaction.success? ? "success" : "failed" }
								= transaction.success ? "Success" : "Failed"
	
	#fulfillment
		%h2 Fulfillment
		
		- unless order.fulfillment_status == "Fulfilled"
			%nav.heading_links
				= link_to 'Fulfill This Order', new_manage_order_fulfillment_path( order ), class: 'add'
		
		%table
			%thead
				%tr
					%th Date
					%th Shipping Method
					%th Tracking
					%th Cost
			%tbody
				- for fulfillment in order.fulfillments
					%tr[ fulfillment ]
						%td= fulfillment.created_at
						%td= fulfillment.shipping_method
						%td= fulfillment.tracking
						%td= fulfillment.cost.format