= content_for( :heading ) { "Attach an Image" }

#images
	- for image in images
		%div[ image ]
			= display_image( image, '200x200#' )
			
			= form_for [ :manage, parent, image_attacher ] do |f|
				= hidden_field_tag "image_attacher[image_id]", image.id
				= f.submit 'Attach'