= semantic_form_for [ :manage, page ] do |f|
	= f.inputs :title, :content
	
	.form_footer
		= link_to 'Preview', 			'#', id: 'page_preview' 	# See /pages.js.coffee.
		%span.dot ·
		= link_to 'Insert Image', '#', id: 'insert_image'		# See /pages.js.coffee.
		
		= f.submit