= semantic_form_for [ :manage, @page ] do |f|
	= f.inputs :title, :content
	= f.submit

= link_to 'Preview', 			'#', id: 'page_preview' 	# See /pages.js.coffee.
= link_to 'Insert Image', '#', id: 'insert_image'		# See /pages.js.coffee.