= content_for( :heading ) { 'Pages' }

%nav.heading_links
	= link_to 'Add a Page', new_manage_page_path, class: 'add'

%section#pages
	%table#pages
		%thead
			%tr
				%th Title
		%tbody
			- for page in pages
				%tr[ page ]
					%td.title= link_to page.title, page
					%td.links
						= link_to 'Edit', edit_manage_page_path( page )
						= link_to 'Delete', [ :manage, page ], method: :delete, confirm: "Are you sure you want to delete Page: #{ page.title }?"