= render 'good_head'

%section#good
	%h1= good.name
	
	#images
		= render 'images', featured_size: '550x350>', additional_size: '176x100>'
	
	#information
		.description= good.html_description.html_safe

#good_right
	%h3 Purchase This
	#purchase
		= render 'purchase', quantity_select: true