= content_for( :heading ) { "Settings for Frame: #{ frame.name }" }

%nav.heading_links
	= link_to 'Add a Setting', new_develop_frame_setting_path( frame ), class: 'add'

%table
	%thead
		%tr
			%th Name
			%th Value
	%tbody
		- for setting in settings
			%tr[ setting ]
				%td= setting.name
				%td= setting.value