!!!

%html{ lang: "en", :"xmlns:og" => "http://ogp.me/ns#", :"xmlns:fb" => "http://www.facebook.com/2008/fbml" }
	= render 'layouts/visit/head', favicon: 'psjfavicon.ico', frame_stylesheet: 'peggyskemp', frame_js: 'peggyskemp'
	
	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		#wrapper.container
			= render 'layouts/visit/header'
			= render 'layouts/visit/navigation' if request.fullpath == root_path
			= content_for?( :main ) ? yield( :main ) : yield
			#feature_banner{ style: 'text-align: center;' }= link_to image_tag( 'wgn_banner.jpg' ), 'http://www.wgntv.com/news/middaynews/middayfix/wgntv-midday-fix-artist-peggy-skemp,0,6449450.story', target: "_blank"
			= render 'layouts/visit/navigation' unless request.fullpath == root_path
			= render 'layouts/visit/footer'
	
		= render 'layouts/visit/tail'