#connect.custom_page
	%h1 Connect with Emmy's
	
	#signup
		#signup_image= image_tag 'signup.jpg'
		#signup_text
			%h3 Monthly Email List
			%p Get news, discounts, and more!

		= form_tag subscribe_path, class: 'formtastic' do
			= text_field_tag :email
			%br
			= submit_tag 'Sign Up'
		#subscribe_notice= flash[ :subscribe_notice ]
	#networks
		.network
			= link_to image_tag( 'emmys_rss.jpg' ), '/blog/posts.xml'
			%h3= link_to 'Daily Updates', '/blog/posts.xml'
			%p News, updates, photos, and more
		
		.network	
			= link_to image_tag( 'emmys_twitter.jpg' ), 'http://twitter.com/#!/emmysorganics'
			%h3= link_to "emmy's Twitter", 'http://twitter.com/#!/emmysorganics'
			%p follow our tweets for the sweets
			
		.network
			= link_to image_tag( 'emmys_facebook.jpg' ), 'https://www.facebook.com/pages/Emmys-Organics/76885732861'
			%h3= link_to "emmy's Facebook", 'https://www.facebook.com/pages/Emmys-Organics/76885732861'
			%p best fanpage ever!