= content_for( :body_classes ) { 'page' }
= content_for( :body_ids ) 		 { 'home' }

#home_wrapper
	%section#feature
		= image_tag 'almond_sale.jpg'

	%section#featured_products
		%h2 Products
		= render_cell :featured_products, :display, frame: current_frame, limit: 5

	#left.blocks
		#connect.block
			%h2 Connect
			.block-content
				#signup-image
					= image_tag 'signup.jpg'
				
				#signup-text
					%h3 Monthly Email List
					%p Get news, discounts, and more!
				
				= form_tag '#', class: 'formtastic' do
					= text_field_tag 'email'
					= submit_tag 'Sign Up'

		#commitment.block
			%h2 Our Commitment
			.block-content
				= image_tag 'commitment.jpg'
			.block-bottom
				= link_to 'Learn more...', '#'
			
	#middle.blocks
		#blog.block
			%h2 emmy's blog
			.block-content
				= render_cell :recent_posts, :display, frame: current_frame
			.block-bottom
				= link_to 'View all posts', blog_path
	
		#find-a-store
			= image_tag 'find_a_store.jpg'

	#right.blocks
		#press.block
			%h2 Press
			.block-content
				%p.placeholder Press

		#product.block
			%h2 Featured Product
			.block-content
				= render_cell :featured_products, :display, frame: current_frame
			.block-bottom
				= link_to 'More Info'
		#networking
			%p.placeholder Networking Links

