= content_for( :body_class ) { 'page' }
= content_for( :body_id )		 { 'home' }

= content_for :javascripts do
	:coffeescript
		$ -> ArtisanEngine.slideshow()

#home_wrapper
	%section#feature
		#window
			#reel
				= link_to image_tag( 'new_granola_flavors.jpg' ), current_frame.featured_case
				= link_to image_tag( 'sprouted_sunnies.jpg' ), current_frame.featured_case
				= link_to image_tag( 'super_food_trail_mix.jpg' ), current_frame.featured_case

		#paging
			= link_to '1', '#', rel: 1
			= link_to '2', '#', rel: 2
			= link_to '3', '#', rel: 3
			
	%section.featured_goods
		#featured_goods_top
			%h2 Products
			.links
				= link_to 'Shop Online', current_frame.featured_case
				= link_to 'Buy Wholesale', '/pages/wholesale-inquiries'
		
		= render_cell :featured_goods, :display, frame: current_frame, limit: 5

	#left.blocks
		#connect.block
			%h2 Connect
			.block_content
				#signup_image
					= image_tag 'signup.jpg'

				#signup_text
					%h3 Monthly Email List
					%p Get news, discounts, and more!

				= form_tag subscribe_path, class: 'formtastic' do
					= text_field_tag :email
					= submit_tag 'Sign Up'
					#subscribe_notice= flash[ :subscribe_notice ]

		#commitment.block
			%h2 Our Commitment
			.block_content
				= image_tag 'commitment.jpg'
			.block_bottom
				= link_to 'Learn more...', '#'

	#middle.blocks
		#blog.block
			%h2 emmy's BLOG
			.block_content
				%section.recent_posts
					= render_cell :recent_posts, :display, frame: current_frame
			.block_bottom
				= link_to 'View all posts', blog_path

		#find-a-store
			= image_tag 'find_a_store.jpg'

	#right.blocks
		#press.block
			%h2 Press
			.block_content
				%p.placeholder Press
			.block_bottom
				= link_to 'Read the press'

		#product.block
			%h2 Featured Product
			.block_content
				= render_cell :featured_goods, :display, frame: current_frame
			.block_bottom
				= link_to 'More Info', current_frame.featured_case.goods_in_display_order.first
		
		#networking
			= link_to image_tag( 'icons/networking/rss_32.png' ), '#'
			= link_to image_tag( 'icons/networking/facebook_32.png' ), '#'
			= link_to image_tag( 'icons/networking/twitter_32.png' ), '#'
			= link_to image_tag( 'icons/networking/email_32.png' ), '#'
			= link_to image_tag( 'icons/networking/google_32.png' ), '#'