%nav.heading_links
	= link_to 'Upload an Image', new_manage_image_path, class: 'add'

%section#images
	- for image in images
		%div[ image ]
			= link_to display_image( image, '220x200#', :'data-original' => image.image.remote_url ), edit_manage_image_path( image )
			
			.links
				= image.image_name + " | "
				= link_to 'Delete', [ :manage, image ], class: 'delete', method: :delete, confirm: "Are you sure you want to delete Image: #{ image.image_name }?"

= paginate images, remote: true