= content_for( :heading ) { "Edit/Crop Image: #{ image.image_name }" }

#edit_image_wrapper
	.base_image
		%h2 Original Image
		= display_image( image, '400x400>' )

	.primary_cropping
		%h2 Primary Cropping
		%p If present, the primary cropping is displayed as the default image for whatever it is attached to.
		- if image.primary_cropping.blank?
			= link_to 'Add a Primary Cropping', manage_image_cropping_path( image, 'primary' ), class: 'add'
		- else
			= display_image( image, '200x200>', cropping: :primary )
			%br
			= link_to 'Edit Primary Cropping', manage_image_cropping_path( image, 'primary' )

	.secondary_cropping
		%h2 Secondary Cropping
		%p The secondary cropping is not displayed anywhere by default, but you can use it to add alternate versions of the image to blog posts or pages.
		- if image.secondary_cropping.blank?
			= link_to 'Add a Secondary Cropping', manage_image_cropping_path( image, 'secondary' ), class: 'add'
		- else
			= display_image( image, '200x200>', cropping: :secondary )
			%br
			= link_to 'Edit Secondary Cropping', manage_image_cropping_path( image, 'primary' )