= content_for( :heading ) { 'Develop Frames' }

%nav.heading_links
	= link_to 'Add a Frame', new_develop_frame_path, class: 'add'

%table
	%thead
		%tr
			%th Name
			%th Domain
	%tbody
		- for frame in frames
			%tr[ frame ]
				%td= frame.name
				%td= frame.domain
				%td.links
					= link_to 'Settings', develop_frame_settings_path( frame )
					= link_to 'Edit', edit_develop_frame_path( frame )