= semantic_form_for [ :manage, order, fulfillment ] do |f|
	%h2 Items to Fulfill
	
	%table#unfulfilled_items
		%thead
			%tr
				%th Fulfill?
				%th Item Name
				%th Item Quantity
				
		%tbody
			- for item in unfulfilled_items do
				%tr[ item ]
					%td= check_box_tag "fulfillment[line_item_ids][]", item.id, true, id: 'fulfill'
					%td 
						= item.name
						- unless item.options.blank?
							%br
							.options= item.options
					%td= item.quantity
	
	= f.inputs :shipping_method, :cost, :tracking
	
	= label_tag 'send_confirmation_email', 'Send Confirmation to Patron'
	= check_box_tag 'send_confirmation_email', '1', true
	
	= f.submit 'Fulfill'