%section#sidebar
	= render 'layouts/blog/tag_navigation'
	= render 'layouts/blog/date_navigation'
	
	#author
		= image_tag 'sam.jpg'

		%p#description
			%span.name Samantha Abrams
			%br
			co-creator
			%br
			marketing guru
			%br
			enthusiast
			%br
			blogger

	#sidebar_extras
		#sidebar_sign_up
			%h4 Discounts & Specials

			= form_tag subscribe_path, class: 'formtastic' do
				= text_field_tag :email
				= submit_tag 'Sign Up'
				#subscribe_notice= flash[ :subscribe_notice ]

		#sidebar_connect
			%h4 Connect
			= link_to image_tag( 'icons/networking/rss_16.png' ), '/blog'
			= link_to image_tag( 'icons/networking/facebook_16.png' ), 'https://www.facebook.com/pages/Emmys-Organics/76885732861', target: '_blank'
			= link_to image_tag( 'icons/networking/twitter_16.png' ), 'http://twitter.com/#!/emmysorganics', target: '_blank'
			= link_to image_tag( 'icons/networking/email_16.png' ), '/pages/connect', target: '_blank'
			= link_to image_tag( 'icons/networking/youtube_16.png' ), 'http://www.youtube.com/user/EmmysOrganics', target: '_blank'
			~#= link_to image_tag( 'icons/networking/google_16.png' ), '#'