= content_for :javascripts do
	:coffeescript
		$ ->
			$( '#good_images' ).sortable({ 
				items: 		 '.image_attacher'
				handle: 	 '.handle'
				tolerance: 'pointer' 
				update: (event, ui) -> 
					attacher_id  = ui.item.attr( 'id' ).split( '_' )[2]
					new_position = ui.item.prevAll( '.image_attacher' ).length
					
					$.ajax({ 
						type: 'put'
						url:  '/manage/goods/#{ good.id }/image_attachers/' + attacher_id
						data: { "id": attacher_id, "image_attacher": { "display_order_position": new_position } }
						dataType: 'json'
					})
				})

#good_images
	%h2 Images
	- for image_attacher in good_image_attachers
		%div[ image_attacher ]
			= link_to display_image( image_attacher.image, '130x130#', cropping: :primary ), edit_manage_image_path( image_attacher.image )
			
			#links
				.handle= image_tag 'icons/drag_handle.gif'
				= link_to 'Remove', [ :manage, good, image_attacher ], method: :delete, confirm: "Are you sure you want to detach this image? (The image will not be deleted.)"

- if good.images.count < 7
	#add_image
		.inner
			= link_to 'Attach an Existing Image', new_manage_good_image_attacher_path( good ), class: 'attach'
			
			%p ~ or ~
			
			= form_for [ :manage, good, new_image ] do |f|
				#form_left
					= f.label :image, 'Attach a New Image'
					= f.file_field :image
					%br
					= f.label :name, 'Image Name'
					= f.text_field :name
				#form_right
					= f.submit 'Upload'