#options
	%h2 Options
	#all_options
		%table
			%thead
				%tr
					%th Name
					%th Values
					%th
			%tbody
				- for option in good_options
					%tr[ option ]
						%td.name= option.name
						%td.values
						%td.links
							= link_to 'Edit', edit_manage_good_option_path( good, option )
							·
							= link_to 'Delete', manage_good_option_path( good, option ), method: :delete, confirm: "Are you sure you want to delete Option: #{ option.name }? This will affect all variants."
	
	#add_option
		- if good_options.count < 5
			= semantic_form_for [ :manage, good, new_option ] do |f|
				= f.inputs :name, :default_value
				= f.submit 'Add Option', class: 'create'
		- else
			%p Goods may have a maximum of 5 options.