%ul#options
	- for option in @good_options
		%li[ option ]
			= option.name
			= link_to 'Edit', polymorphic_url( [ :manage, @good, option ], action: :edit )
			= link_to 'Delete', manage_good_option_path( @good, option ), method: :delete, confirm: "Are you sure you want to delete Option: #{ option.name }?"

- unless @good_options.count == 5
	#add_option
		= semantic_form_for [ :manage, @good, @good.options.new ] do |f|
			= f.inputs :name, :default_value
			= f.submit 'Add Option'