#variants
	%h2 Variants
	%table#all_variants
		%thead
			%tr
				- for option in good_options
					%th= label_tag "variant_option_value_#{ option.position }", option.name
				%th
	
		%tbody
			- for variant in good_variants
				%tr[ variant ]
					- for option in good_options
						%td.option= eval( "variant.option_value_#{ option.position }" )
					%td
						= link_to 'Edit', edit_manage_good_variant_path( good, variant )
						·
						= link_to 'Delete', manage_good_variant_path( good, variant ), method: :delete, confirm: "Are you sure you want to delete this variant?"
	
		%tbody#add_variant
			%tr
				= form_for [ :manage, good, new_variant ] do |f|
					- for option in good_options
						%td.option= f.text_field :"option_value_#{ option.position }"
			
					%td= f.submit 'Add Variant'