= content_for :javascripts do
	:coffeescript
		$ ->
			# Fix table row widths collapsing on drag by manually resetting widths.
			fixHelper = (event, ui) ->
				ui.children().each () -> $(this).width( $(this).width() )
				return ui
				
			$( '#all_variants' ).sortable({ 
				items: 		 '.variant'
				handle: 	 '.handle'
				tolerance: 'pointer'
				helper: fixHelper
				update: (event, ui) ->
					variant_id   = ui.item.attr('id').split( '_' )[1]
					new_position = ui.item.prevAll().length
					
					$.ajax({ 
						type: 'put'
						url:  '/manage/goods/#{ good.id }/variants/' + variant_id
						data: { "id": variant_id, "variant": { "display_order_position": new_position } }
						dataType: 'json'
					}) 
				})

#variants
	%h2 Variants
	%table#all_variants
		%thead
			%tr
				%th
				- for option in good_options
					%th= label_tag "variant_option_value_#{ option.position }", option.name
				%th= label_tag "variant_price", 'Price'
				%th
	
		%tbody
			- for variant in good_variants
				%tr[ variant ]
					%td.handle= image_tag 'icons/drag_handle.gif'
					- for option in good_options
						%td.option= eval( "variant.option_value_#{ option.position }" )
					%td.price= variant.price.format
					%td
						= link_to 'Edit', edit_manage_good_variant_path( good, variant )
						·
						= link_to 'Delete', manage_good_variant_path( good, variant ), method: :delete, confirm: "Are you sure you want to delete this variant?"
	
		%tbody#add_variant
			%tr
				= form_for [ :manage, good, new_variant ] do |f|
					- for option in good_options
						%td.option= f.text_field :"option_value_#{ option.position }", placeholder: "Option #{ option.position }"
					%td.price= f.text_field :price
			
					%td= f.submit 'Add Variant'