= content_for( :heading ) { "Edit Good: " + good.name }

#good	
	#basics
		= render 'form'
		
	= render 'images'
	
	- if good.available?
		= render 'options'
		= render 'variants'
	
	#danger_zone
		= button_to 'Delete This Good', manage_good_path( good ), method: :delete, confirm: "Are you sure you want to delete #{ good.name }?", class: 'delete'