= content_for( :heading ) { 'Goods' }

%nav.heading_links
	= link_to 'Add a Good', new_manage_good_path, class: 'add'

%section#goods
	%table#goods
		%thead
			%tr
				%th Name
				%th Short Description
				%th
		%tbody
			- for good in goods
				%tr[ good ]
					%td.name= link_to good.name, good
					%td.short_description= good.short_description
					%td.links
						= link_to 'Edit', edit_manage_good_path( good )