#good
	%h1= @good.name
	
	%ul#options
		- for option in @good.options
			%li.option
				= option.name
				= link_to 'Delete', manage_good_option_path( @good, option ), method: :delete
	
	#add_option
		= semantic_form_for [ :manage, @good, @good.options.new ] do |f|
			= f.inputs :name, :default_value
			= f.submit 'Add Option'
	
	%table#variants
		%thead
			%tr
				- for option in @good.options
					%th= option.name
		%tbody
			= render @good.variants