= render 'display_case_head'

%section#goods
	%h1= display_case.name
	
	- for good in goods
		%div[ good ]
			.image= link_to display_image( good.images_in_display_order.first, '182x182>' ), good
			%p.description= link_to good.name, good
			.quick_purchase
				= render 'visit/goods/purchase', good: good, new_line_item: LineItem.new, quantity_select: true