%ul
	%li= link_to 'our story', '/pages/our-story'
	%li= link_to 'meet the owners', '/pages/meet-the-owners'
	%li= link_to 'press', '/pages/press'
	%li= link_to 'media', '/pages/media'
	%li= link_to 'faqs', '/pages/faqs'
	%li= link_to 'community', '/pages/community'
	%li= link_to 'contact us', '/pages/contact-us'
