%ul
	%li= link_to 'our story', '#'
	%li= link_to 'meet the owners', '#'
	%li= link_to 'press', '#'
	%li= link_to 'media', '#'
	%li= link_to 'faqs', '#'
	%li= link_to 'community', '#'
	%li= link_to 'contact us', '#'
