%ul
	%li= link_to 'our ingredients', '/pages/our-ingredients'
	%li= link_to 'non-GMO', '/pages/non-gmo'
	%li= link_to 'why raw?', '/pages/why-raw'
	%li= link_to 'go gluten-free', '/pages/go-gluten-free'
	%li= link_to 'vegan', '/pages/vegan'
	%li= link_to 'recipes', '/pages/recipes'