%ul
	%li= link_to 'macaroons', '#'
	%li= link_to 'granola', '#'
	%li= link_to 'chocolate sauce', '#'
	%li= link_to 'super-fudge', '#'
	%li= link_to 'ingredients', '#'
	%li= link_to 'pies & cake', '#'
	%li= link_to 'almond milk', '#'
	%li= link_to 'apparel', '#'
	%li= link_to 'gift card', '#'
	%li= link_to 'monthly specials', '#'