%ul
	%li= link_to 'macaroons', '/collections/macaroons'
	%li= link_to 'granola', '/collections/granola'
	%li= link_to 'chocolate sauce', '/collections/chocolate-sauce'
	%li= link_to 'super-fudge', '/collections/super-fudge'
	%li= link_to 'ingredients', '/pages/our-ingredients'
	%li= link_to 'pies & cake', '/collections/pies-cake'
	%li= link_to 'almond milk', '/collections/almond-mylk'
	%li= link_to 'apparel', '/collections/apparel'
	%li= link_to 'gift card', '/collections/gift-card'
	%li= link_to 'monthly specials', '/collections/monthly-specials'