= content_for( :heading ) { "New Promotion" }

= semantic_form_for [ :manage, promotion ] do |f|
	= f.inputs do
		= f.input :promotional_code
		= f.input :discount_amount
		= f.input :discount_type, as: :select, collection: Promotion::DISCOUNT_TYPES, include_blank: false
		= f.input :discount_target, as: :select, collection: Promotion::DISCOUNT_TARGETS, include_blank: false
		
	= f.submit