%footer
	- unless request.path == root_path
		#footer_top
	
	#footer_main
		#footer_signup
			%h3#signup Get News & Discounts
	
			= form_tag subscribe_path, class: 'formtastic' do |f|
				%p#enter_email enter your email address
				= text_field_tag :email
				%br
				= submit_tag 'sign up!'
				= link_to 'Privacy policy', '#', id: 'privacy'
				#subscribe_notice= flash[ :subscribe_notice ]
	
		%nav.footer#about
			%h3 about us
			= render 'layouts/visit/links/about_links'
		
		%nav.footer#products
			%h3 products
			= render 'layouts/visit/links/products_links'
		
		%nav.footer#educate
			%h3 educate
			= render 'layouts/visit/links/educate_links'
		
		%nav.footer#sustainability
			%h3 sustainability
			= render 'layouts/visit/links/sustainability_links'