%header
	#header_wrapper.container
		#header_left
			= image_tag 'have_it_all.jpg', alt: 'Have It All', class: 'haveitall'

		%nav#header
			= link_to 'Contact Us', '/pages/contact-us'
			= link_to 'Store Locator', '/pages/store-locator'
			= link_to 'Wholesale', '/pages/wholesale-inquiries'
			= link_to 'Newsletter', '/blog'