%html
	%head
		%meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=UTF-8' }
		
	%body
		%p Dear #{ @patron.first_name },
		
		%p The following items from your order have shipped via #{ @fulfillment.shipping_method }:
		
		%table
			%tbody
				- for line_item in @line_items
					%tr.line_item
						%td.quantity
							= line_item.quantity.to_s + "x"
						%td.description
							= line_item.name
							- unless line_item.options.blank?
								%br
								= line_item.options
		
		- unless @fulfillment.tracking.blank?
			%p Your tracking number for these items is: #{ @fulfillment.tracking }
		
		%p
			With thanks,
			%br
			= @frame.name