#past_work_galleries_custom_page
	%h1 galleries of past work
	
	.gallery
		.gallery_image= link_to image_tag( 'fungi_rings.jpg' ), '/collections/fungi-rings-2009-2010'
		%h2= link_to 'fungi rings', '/collections/fungi-rings-2009-2010'
		
	.gallery
		.gallery_image= link_to image_tag( 'tentacle_rings.jpg' ), '/collections/one-of-a-kind-tentacle-rings-2010-2011'
		%h2= link_to 'one of a kind tentacle rings', '/collections/one-of-a-kind-tentacle-rings-2010-2011'
	
	.gallery
		.gallery_image= link_to image_tag( 'assorted_past_work.jpg' ), '/collections/assorted-past-work-2010-2011'
		%h2= link_to 'assorted past work', '/collections/one-of-a-kind-tentacle-rings-2010-2011'