%h3.sort-heading View by Date
%nav#dates
	~#%li= link_to 'December 2011', by_date_blog_path( year: 2011, month: 12 )
	~#%li= link_to 'November 2011', by_date_blog_path( year: 2011, month: 11 )
	~#%li= link_to 'October 2011', by_date_blog_path( year: 2011, month: 10 )
	%li= link_to 'September 2011', by_date_blog_path( year: 2011, month: 9 )
	%li= link_to 'August 2011', by_date_blog_path( year: 2011, month: 8 )
	%li= link_to 'July 2011', by_date_blog_path( year: 2011, month: 7 )
	%li= link_to 'June 2011', by_date_blog_path( year: 2011, month: 6 )
	%li= link_to 'May 2011', by_date_blog_path( year: 2011, month: 5 )
	%li= link_to 'April 2011', by_date_blog_path( year: 2011, month: 4 )
	%li= link_to 'March 2011', by_date_blog_path( year: 2011, month: 3 )
	%li= link_to 'February 2011', by_date_blog_path( year: 2011, month: 2 )
	%li= link_to 'January 2011', by_date_blog_path( year: 2011, month: 1 )
	
	%li= link_to 'December 2010', by_date_blog_path( year: 2010, month: 12 )
	%li= link_to 'November 2010', by_date_blog_path( year: 2010, month: 11 )
	%li= link_to 'October 2010', by_date_blog_path( year: 2010, month: 10 )
	%li= link_to 'September 2010', by_date_blog_path( year: 2010, month: 9 )
	%li= link_to 'August 2010', by_date_blog_path( year: 2010, month: 8 )
	%li= link_to 'July 2010', by_date_blog_path( year: 2010, month: 7 )
	%li= link_to 'June 2010', by_date_blog_path( year: 2010, month: 6 )
	%li= link_to 'May 2010', by_date_blog_path( year: 2010, month: 5 )
	%li= link_to 'April 2010', by_date_blog_path( year: 2010, month: 4 )
	%li= link_to 'March 2010', by_date_blog_path( year: 2010, month: 3 )
	%li= link_to 'February 2010', by_date_blog_path( year: 2010, month: 2 )
	%li= link_to 'January 2010', by_date_blog_path( year: 2010, month: 1 )
	
	%li= link_to 'December 2009', by_date_blog_path( year: 2009, month: 12 )
	%li= link_to 'November 2009', by_date_blog_path( year: 2009, month: 11 )
	%li= link_to 'October 2009', by_date_blog_path( year: 2009, month: 10 )
	%li= link_to 'September 2009', by_date_blog_path( year: 2009, month: 9 )
	%li= link_to 'August 2009', by_date_blog_path( year: 2009, month: 8 )
	%li= link_to 'July 2009', by_date_blog_path( year: 2009, month: 7 )
	%li= link_to 'June 2009', by_date_blog_path( year: 2009, month: 6 )
	%li= link_to 'May 2009', by_date_blog_path( year: 2009, month: 5 )
	%li= link_to 'April 2009', by_date_blog_path( year: 2009, month: 4 )
	%li= link_to 'March 2009', by_date_blog_path( year: 2009, month: 3 )
	%li= link_to 'February 2009', by_date_blog_path( year: 2009, month: 2 )
	%li= link_to 'January 2009', by_date_blog_path( year: 2009, month: 1 )
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	