#sam_image
	= image_tag 'sam.jpg'
	%p
		%span.name Samantha
		%br
		emmy's co-founder

- for post in @posts
	.post
		%p.date= post.created_at.strftime( "%A, %B %d, %Y" )
		%p.title= post.title
		%p.snippet
			= truncate( strip_tags( post.html_content ), length: 150, separator: ' ' )
			= link_to 'Read More', path_for_post( post )