= semantic_form_for [ :manage, :blog, post ] do |f|
	= f.inputs do
		= f.input :title
		= f.input :published_on, wrapper_html: { id: 'published_on_fields' }
		= f.input :tag_names, 	 input_html: { :"data-pre" => post.tags.to_json } 	# Pre-populate TokenInput.
		= f.input :content, 		 input_html: { id: 'page_content' }
	
	.form_footer
		= link_to 'Preview', 			'#', id: 'page_preview' 	# See /pages.js.coffee.
		%span.dot ·
		= link_to 'Insert Image', '#', id: 'insert_image'		# See /pages.js.coffee.	
		= f.submit