%footer
	#bank_1.bank
		.links
			= link_to 'retailers', '/pages/retailers'
			&#126;
			= link_to 'shows', '/pages/shows'

	#bank_2.bank
		.links
			= link_to 'about peggy', '/pages/about-peggy-skemp'
			&#126;
			= link_to 'contact', '/pages/contact-peggy-skemp'

	#bank_3.bank
		.links
			= link_to 'past work', '/pages/past-work-galleries'
			&#126;
			= link_to 'policies', '/pages/policies'
			