= render 'good_head'

%section#good
	#good_left
		%h1= good.name
		
		#information
			.description= sanitize good.html_description
		#purchase
			= render 'purchase', availability_text: 'This item is available by custom order only.'
		#share
			= render 'share'
			
	#good_right
		#images
			= render 'images', featured_size: '510x510>', additional_size: '163x163#'