= content_for( :heading ) { 'Manage Patrons' }

%nav.heading_links
	= link_to 'Export Subscribed Patrons', '/manage/patrons.csv', class: 'address_export'

%table
	%thead
		%tr
			%th Name
			%th E-Mail
			%th
	%tbody
		- for patron in patrons
			%tr[ patron ]
				%td= patron.first_name and patron.last_name ? "#{ patron.last_name }, #{ patron.first_name }" : nil
				%td= patron.email
				%td.links
					= link_to 'Details', manage_patron_path( patron )