= content_for( :heading ) { "Manage Patron Account: #{ patron.first_name } #{ patron.last_name }" }

%section#patron
	#basics
		%h2 Contact Information
		%span.name= "#{ patron.first_name } #{ patron.last_name }"
		%br
		%span.email= patron.email
		%br
		%span.subscription_status= patron.subscribed ? "Subscribed" : "Not Subscribed"

	#orders
		%h2 Orders
	
		%table
			%thead
				%tr
					%th Order No.
			%tbody
				- for order in patron.orders
					%tr[ order ]
						%td= link_to order.id_in_frame, manage_order_path( order )

	#addresses
		%h2 Addresses
		= render patron.addresses