= content_for( :heading ) { 'Edit Display Case: ' + display_case.name }

= content_for :javascripts do
	:coffeescript
		$ ->
			$( '#collected_goods' ).sortable({ 
				items: 		 '.collect'
				handle: 	 '.handle'
				tolerance: 'pointer' 
				update: (event, ui) -> 
					collect_id  = ui.item.attr( 'id' ).split( '_' )[1]
					new_position = ui.item.prevAll( '.collect' ).length
					
					$.ajax({ 
						type: 'put'
						url:  '/manage/display_cases/#{ display_case.id }/collects/' + collect_id
						data: { "id": collect_id, "collect": { "display_order_position": new_position } }
						dataType: 'json'
					})
				})

= render 'form'

#display_case_goods
	#uncollected_goods
		%h2 Not In Case
		
		%table
			%tbody
				- for good in ( current_frame.goods - display_case.goods )
					%tr.good
						%td= good.name
						%td.links
							= form_for [ :manage, display_case, new_collect ] do |f|
								= f.hidden_field :good_id, value: good.id
								= f.submit 'Add to Case'

	#collected_goods
		%h2 In Case
		
		%table
			%tbody
				- for collect in display_case.collects.rank( :display_order )
					%tr[ collect ]
						%td.handle= image_tag 'icons/drag_handle.gif'
						%td= collect.good.name
						%td.links= button_to 'Remove from Case', manage_display_case_collect_path( display_case, collect ), method: :delete, class: 'delete'