= content_for( :heading ) { 'Display Cases' }

%nav.heading_links
	= link_to 'Add a Display Case', new_manage_display_case_path, class: 'add'

%section#display_cases
	%table#display_cases
		%thead
			%tr
				%th Name
		%tbody
			- for display_case in display_cases
				%tr[ display_case ]
					%td= display_case.name
				
					%td.links
						= link_to 'Edit', edit_manage_display_case_path( display_case )
						- unless display_case.name == "Featured"
							= link_to 'Delete', [ :manage, display_case ], method: :delete, confirm: "Are you sure you want to delete Display Case: #{ display_case.name }?"