= content_for( :title ) 		 { good.name }
= content_for( :body_class ) { 'individual_good' }

= content_for :javascripts do
	:coffeescript
		$ -> ArtisanEngine.buildOptionSelects( '#{ options }' )
	
= content_for :meta do
	%meta{ property: 'og:title', 		 	 content: good.name }
	%meta{ property: 'og:type', 		 	 content: 'product' }
	%meta{ property: 'og:url', 	 		 	 content: request.url }
	- for image in good.images_in_display_order
		%meta{ property: 'og:image', 		 	 content: url_for_image( image ) }
	%meta{ property: 'og:site_name', 	 content: current_frame.name }
	%meta{ property: 'fb:admins', 	 	 content: Setting.get_or_set( current_frame, 'Facebook Administrators', "readeharris" ) }
	%meta{ property: 'og:description', content: truncate( strip_tags( good.html_description ), length: 150, separator: ' ' ) }