- quantity_select 	||= false
- button_text 			||= 'Add to Order'
- availability_text ||= 'This item is currently unavailable.'

- if good.available?
	= form_for new_line_item do |f|

		- if good.has_variation?
			#options
				= f.select :variant_id, options_from_collection_for_select( good_variants, :id, :values_to_s ), {}, class: 'main_variant_selector'
		- else
			= hidden_field_tag "line_item[variant_id]", good_variants.first.id
	
		- if quantity_select
			#quantity
				= f.label	 :quantity
				= f.select :quantity, options_for_select( (1..10).to_a )
		
		#price
			- unless good.has_variation?
				= good_variants.first.price.format
			
		#complete
			= f.submit button_text

- else
	%p#unavailable= availability_text