= content_for( :title ) 		 { good.name }
= content_for( :body_class ) { 'individual_good' }

= content_for :javascripts do
	:coffeescript
		$ -> ArtisanEngine.buildOptionSelects( '#{ options }' )

%section#good
	%h1= good.name
	
	#information
		.description= good.html_description.html_safe
	
	#purchase	
		= form_for new_line_item do |f|
		
			- if good.variants.count == 1 and good.variants.first.values_to_s.blank?
				= hidden_field_tag "line_item[variant_id]", good.variants.first.id
			- else
				#options
					= f.select :variant_id, options_from_collection_for_select( good.variants, :id, :values_to_s ), {}, class: 'main_variant_selector'
			#price
				- if good.variants.count == 1 and good.variants.first.values_to_s.blank?
					= good.variants.first.price.format
					
			#complete
				= f.submit 'Add to Order'
	#images
		.featured
			= link_to display_image( good.images.first, '470x470#' ), url_for_image( good.images.first )
		
		.additional
			- for image in good.images.drop( 1 )
				= link_to display_image( image, '130x85#' ), image.image.remote_url