= render 'good_head'

%section#good
	%h1= good.name
	
	#information
		.description= sanitize good.html_description
	
	#purchase	
		= render 'purchase'
		
	#images
		= render 'images', featured_size: '470x470#', additional_size: '130x85#'