!!!

%html
	%head
		%title ArtisanEngine
		= stylesheet_link_tag		 "application"
		= javascript_include_tag "application"
		= yield :javascripts
		= csrf_meta_tags

	%body{ class: body_classes, id: body_ids }
		#wrapper
			#main
				= render 'session_info'
				= render 'notifications' unless flash.empty?
				= yield