!!!

%html
	%head
		%title= content_for?( :title ) ? content_for( :title ) : "Develop ArtisanEngine"
		= stylesheet_link_tag		 "application"
		= javascript_include_tag "application"
		= yield :javascripts
		= csrf_meta_tags

	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		#wrapper
			#main
				= render 'session_info'
				= render 'notifications' unless flash.empty?
				= yield