!!!

%html
	%head
		%title= content_for?( :title ) ? content_for( :title ) : "Manage #{ current_frame.name }"
		= stylesheet_link_tag		 "application", "manage"
		/[if lt IE8]
			= stylesheet_link_tag  "ie"
		= javascript_include_tag "application", "manage"
		= yield :javascripts
		= csrf_meta_tags

	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		#wrapper.container
			%header
				%h1#manage= yield( :heading )
				%nav#manage
					= link_to 'Goods',  		 	 manage_goods_path
					= link_to 'Display Cases', manage_display_cases_path
					= link_to 'Pages',  		 	 manage_pages_path
					= link_to 'Page Collections', manage_page_collections_path
					= link_to 'Blog',   		 	 manage_blog_path
					= link_to 'Orders', 		 	 manage_orders_path
					= link_to 'Patrons', 	 		 manage_patrons_path
					= link_to 'Promotions', 	 manage_promotions_path
					= link_to 'Images', 		 	 manage_images_path
				= render 'notifications' unless flash.empty?
			
			= yield
			
			%footer
				= render 'session_info'