!!!

%html
	%head
		%title ArtisanEngine
		= stylesheet_link_tag		 "application", "manage"
		/[if lt IE8]
			= stylesheet_link_tag  "ie"
		= javascript_include_tag "application", "manage"
		= yield :javascripts
		= csrf_meta_tags

	%body{ class: body_classes, id: body_ids }
		#wrapper.container
			%header
				%h1#manage= yield( :heading )
				%nav#manage
					= link_to 'Goods',  		 	 manage_goods_path
					= link_to 'Display Cases', manage_display_cases_path
					= link_to 'Pages',  		 	 manage_pages_path
					= link_to 'Blog',   		 	 manage_blog_path
					= link_to 'Orders', 		 	 '#'
					= link_to 'Patrons', 	 		 '#'
					= link_to 'Promotions', 	 '#'
					= link_to 'Images', 		 	 manage_images_path
				= render 'notifications' unless flash.empty?
			
			= yield
			
			%footer
				= render 'session_info'