!!!

%html
	%head
		%title ArtisanEngine
		= stylesheet_link_tag		 "application"
		= javascript_include_tag "application", "visit"
		= yield :javascripts
		= csrf_meta_tags

	%body
		#wrapper
			#main= content_for?( :main ) ? yield( :main ) : yield