!!!

%html
	%head
		%title= content_for?( :title ) ? content_for( :title ) : current_frame.name
		= stylesheet_link_tag		 "application", "visit"
		= javascript_include_tag "application", "visit"
		= render 'google_analytics'
		= yield :javascripts
		= csrf_meta_tags

	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		#top
			#top_wrapper.container
				%nav#primary
					= link_to 'Home', root_path
					= link_to 'Shop', display_case_path( DisplayCase.first )
					= link_to 'News', blog_path
		
		#wrapper.container		
			%header
				%a#logo{ href: root_path, title: current_frame.name }= current_frame.name
			
			= content_for?( :main ) ? yield( :main ) : yield