!!!

%html
	= render 'layouts/visit/head'

	%body{ class: content_for( :body_class ), id: content_for( :body_id ) }
		#top
			#top_wrapper.container
				%nav#primary
					= link_to 'Home', root_path
					= link_to 'Shop', display_case_path( current_frame.featured_case )
					= link_to 'News', blog_path
		
		#wrapper.container		
			%header
				= link_to current_frame.name, root_path, id: 'logo'
							
			= content_for?( :main ) ? yield( :main ) : yield