= content_for( :title ) 		 { display_case.name }
= content_for( :body_class ) { 'display_case' }

%section#goods
	%h1= display_case.name
	
	- for good in goods
		%div[ good ]
			.image= link_to display_image( good.images_in_display_order.first, '182x182#' ), good
			%p.description= link_to good.name, good