= content_for( :title ) 			 { display_case.name }
= content_for( :body_classes ) { 'collection' }

%h1= display_case.name

%section#goods
	- for good in display_case.goods
		%div[ good ]
			.image= link_to display_image( good.images.first, '182x182#' ), good
			%p.description= link_to good.name, good